.navbar {
    background: rgb(10, 10, 10);
  height: 5rem;
  font-size: 1.5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;

}
.desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom:3px solid yellow ;

}
.desktopMenuBtn {
    background: linear-gradient(90deg,yellow,yellow,yellow,yellow);
    color: black;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;

}
.desktopMenuBtn:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
.active {
    color:yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}