#introduction {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
position: relative;
}
.profilePic {
    position:fixed;
    bottom: 450px;
    right:150px;
    width: 200px; 
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(247, 245, 245, 0.8);
    object-fit: cover;
    border-radius: 50%;
  }

  
.introContent {
    justify-content: center;
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction:column;
   
}
.hello {
    font-size: 1.75rem;
    font-weight: 100px;
}
.introName {
    color: yellow;
}
.introPosition {
   color:rgb(16, 16, 16);
}
.introPara{
    color:rgb(0, 0, 0);
    font-size: medium;
    font-weight: 100px;
    letter-spacing: 1px;
}
.btnImg {
    object-fit: cover;
    margin:0 0.25rem;
height: 1rem;
}
@media screen and (max-width:840px) {
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}
