#contactPage {
    min-height: calc(100vh - 5rem);
    width: 100vh;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certificatesTitle {
    font-size: 3rem;
    margin-bottom: 1rem;

}

.certificateDesc {
    font-weight: 300;
    font-size: 1rem;
}

.certificateImgs{
    margin: 1rem 0;
    display: flex;
flex-wrap: wrap;
}

.certificateImg {
   object-fit: cover;
   width: 50%;
   min-width: rem;
   margin: auto;
padding: 0.25rem;

}

#certificates {
    padding: 3rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

#contact {
    min-height: calc(100vh - 5rem);
    width: 100vh;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactsTitle {
    font-size: 3rem;
    margin-bottom: 1rem;

}
.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name, .email, .message {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem 1rem;
color: rgb(28, 27, 27);
border: 2rem;
border-radius:rem;
background: rgb(249, 249, 249);
}

.submitBtn {
    background: yellow;
    color:black;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
}

.links{
    display: flex;
    flex-wrap: wrap;
}
.link {
    object-fit: cover;
    height:3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

.background-container {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(178, 150, 150, 0.3));
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
  }